@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');


body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/
@media screen and (max-width: 1200px) {
    .left-nav {
      min-width: 120px; /* 작은 화면 크기에 대한 최소 너비 설정 */
    }

    .main-box{
        min-width: 600px;
    }
}



/* 좌측 네비바 */

.left-nav a {
    margin-top: 20%;
}




#donutChart{
    width: 50%;
}

#secondDonutChart{
    width: 50%;
}


/*----- FOOTER -----*/