@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/




/* 좌측 네비바 */
.left-nav a {
    margin-top: 20%;
}








/* .content-box #donutChart{
    width: 30%;
    border: 10px solid green;
    z-index: 1;
}

.content-box #secondDonutChart{
    width: 30%;
    border: 10px solid red;
} */

/*----- FOOTER -----*/